.sidebar {
    width: 30%;
    background-color: #F7F8FA;
    box-shadow: none;
}

.main-panel {
    width: 70%;
    background-color: white;
}

.main-panel .main-content {
    margin-top: 0;
}

.card {
    box-shadow: none;
}